name: Credit Risk CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      PYTHONPATH: src

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Sanity import
        run: |
          python -c "import credit_risk; print('import ok')"

      - name: Train model to generate artifacts.joblib
        run: |
          python -m credit_risk.train

      - name: Run tests
        run: |
          pytest
